.div-tool-box {
	width: 600px;
	float: left;
	height: 68px;
}

.btn-mode {
	width: 64px;
	height: 64px;
	float: left;
	margin: 2px;
}

.btn-mode img {
	max-width: 40px;
	max-height: 40px;
}

.active {
	border-color: lime;
}

.btn-action {
	height: 26px;
	margin: 4px;
}

#div-context-menu {
	padding: 5px;
	height: 68px;
	overflow-y: scroll;
}

#spanLog {
	display: none;
}
